/* Заставка */

position: relative;
width: 375px;
height: 812px;

background: linear-gradient(180deg, rgba(98, 105, 240, 0.05) 0%, rgba(55, 64, 245, 0.65) 29.17%, #2254F5 50%, rgba(55, 64, 245, 0.65) 71.35%, rgba(98, 105, 240, 0.05) 100%),
linear-gradient(180deg, #74C8E4 0%, #73D5BC 50.52%, #74C8E4 100%),
linear-gradient(167.96deg, #A1CAFF 0%, #4D9CFF 48.96%, #A1CAFF 100%);


/* bg */

position: absolute;
width: 828px;
height: 1265px;
left: -227px;
top: -227px;



/* Ellipse 35 */

position: absolute;
width: 453px;
height: 453px;
left: 148px;
top: 585px;

background: #83A0F8;
mix-blend-mode: multiply;
opacity: 0.6;
filter: blur(64px);


/* Ellipse 36 */

position: absolute;
width: 453px;
height: 453px;
left: -227px;
top: -227px;

background: #83A0F8;
mix-blend-mode: multiply;
opacity: 0.6;
filter: blur(64px);


/* Matule */

position: absolute;
width: 120px;
height: 64px;
left: 128px;
top: 374px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 64px;
/* identical to box height, or 160% */
text-align: center;
letter-spacing: 1.03608px;

color: #FFFFFF;