/* Создание пароля */

position: relative;
width: 375px;
height: 812px;

background: #FFFFFF;


/* KEYBOARD */

position: absolute;
width: 288px;
height: 392px;
left: 43px;
top: 340px;



/* 1-9 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 288px;
height: 288px;
left: 0px;
top: 0px;



/* 1 ROW */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 288px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 1 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 1 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 2 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 2 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 3 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 3 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 2 ROW */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 288px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 4 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Accent */
background: #1A6FEE;


/* 4 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* White */
color: #FFFFFF;



/* 5 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 5 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 6 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 6 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 3 ROW */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 288px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 7 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 7 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 8 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 8 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 9 */

width: 80px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 9 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* 0 */

position: absolute;
width: 80px;
height: 80px;
left: 104px;
top: 312px;



/* bg */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Input BG */
background: #F5F5F9;


/* 0 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

/* Title 1 / Semibold  */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* DEL ICON */

position: absolute;
width: 35px;
height: 24px;
left: 230px;
top: 340px;



/* Rectangle 91 */

box-sizing: border-box;

position: absolute;
width: 34.5px;
height: 24px;
left: 0px;
top: 0px;

/* Black */
border: 2px solid #000000;


/* Vector 39 */

position: absolute;
width: 8px;
height: 8px;
left: 16.5px;
top: 8px;

/* Black */
border: 2px solid #000000;


/* Vector 40 */

position: absolute;
width: 8px;
height: 8px;
left: 16.5px;
top: 8px;

/* Black */
border: 2px solid #000000;
transform: rotate(90deg);


/* progress */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 100px;
height: 16px;
left: 138px;
top: 264px;



/* Ellipse 57 */

width: 16px;
height: 16px;

/* Accent */
background: #1A6FEE;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 58 */

box-sizing: border-box;

width: 16px;
height: 16px;

/* Accent */
border: 1px solid #1A6FEE;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 59 */

box-sizing: border-box;

width: 16px;
height: 16px;

/* Accent */
border: 1px solid #1A6FEE;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 60 */

box-sizing: border-box;

width: 16px;
height: 16px;

/* Accent */
border: 1px solid #1A6FEE;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Tittle */

position: absolute;
width: 276px;
height: 64px;
left: 50px;
top: 144px;



/* Tittle */

position: absolute;
width: 200px;
height: 28px;
left: 38px;
top: 0px;

/* Title 1/Heavy */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */
letter-spacing: 0.0033em;

/* Black */
color: #000000;



/* Description */

position: absolute;
width: 276px;
height: 20px;
left: 0px;
top: 44px;

/* Text /  Regular */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

/* Caption */
color: #939396;



/* Status Bar */

position: absolute;
width: 375px;
height: 44px;
left: 0px;
top: 0px;



/* iPhone X (or newer) */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Notch */

position: absolute;
width: 219px;
height: 30px;
left: 78px;
top: -2px;



/* BG */

position: absolute;
visibility: hidden;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #000000;


/* Exclude */

position: absolute;
visibility: hidden;
width: 375px;
height: 44px;
left: 0px;
top: 0px;

/* Carbon / Darkest */
background: #24262B;


/* BG */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* Carbon Neutral/300 */
background: #D6D9DD;


/* Notch */

position: absolute;
width: 219px;
height: 30px;
left: calc(50% - 219px/2);
top: -2px;

/* Black */
background: #000000;


/* Right Side */

position: absolute;
width: 66.66px;
height: 11.34px;
left: 293.67px;
top: 17.33px;



/* Battery */

position: absolute;
left: 89.6%;
right: 3.91%;
top: 39.39%;
bottom: 34.85%;



/* Rectangle */

box-sizing: border-box;

position: absolute;
width: 22px;
height: 11.33px;
right: 17px;
top: 17.33px;

mix-blend-mode: normal;
opacity: 0.35;
/* Black */
border: 1px solid #000000;
border-radius: 2.66667px;


/* Combined Shape */

position: absolute;
width: 1.33px;
height: 4px;
right: 14.67px;
top: 21px;

/* Black */
background: #000000;
mix-blend-mode: normal;
opacity: 0.4;


/* Rectangle */

position: absolute;
width: 18px;
height: 7.33px;
right: 19px;
top: 19.33px;

/* Black */
background: #000000;
border-radius: 1.33333px;


/* Wifi */

position: absolute;
left: 84.19%;
right: 11.74%;
top: 39.39%;
bottom: 35.69%;

/* Black */
background: #000000;


/* Wifi-path */

position: absolute;
width: 15.27px;
height: 4.74px;
right: 44.03px;
top: 17.33px;

background: #DADADA;


/* Wifi-path */

position: absolute;
width: 9.95px;
height: 3.63px;
right: 46.69px;
top: 21.12px;

background: #DADADA;


/* Wifi-path */

position: absolute;
width: 4.63px;
height: 3.37px;
right: 49.36px;
top: 24.92px;

background: #DADADA;


/* Mobile Signal */

position: absolute;
left: 78.31%;
right: 17.16%;
top: 40.15%;
bottom: 35.61%;

/* Black */
background: #000000;


/* Cellular_Connection-path */

position: absolute;
width: 3px;
height: 4px;
right: 78.33px;
top: 24.33px;

background: #DADADA;


/* Cellular_Connection-path */

position: absolute;
width: 3px;
height: 6px;
right: 73.67px;
top: 22.33px;

background: #DADADA;


/* Cellular_Connection-path */

position: absolute;
width: 3px;
height: 8.33px;
right: 69px;
top: 20px;

background: #DADADA;


/* Cellular_Connection-path */

position: absolute;
width: 3px;
height: 10.67px;
right: 64.33px;
top: 17.67px;

background: #DADADA;


/* Recording Indicator */

position: absolute;
visibility: hidden;
width: 6px;
height: 6px;
left: 298px;
top: 8px;



/* Indicator */

position: absolute;
width: 6px;
height: 6px;
right: 71px;
top: 8px;

/* SystemOrange / Light

class var systemOrange: UIColor
*/
background: #FF9500;


/* Left Side */

position: absolute;
width: 54px;
height: 21px;
left: 21px;
top: 12px;



/* Time */

position: absolute;
width: 54px;
height: 21px;
left: 21px;
top: 12px;

border-radius: 32px;


/* 9:41 */

position: absolute;
width: 28.43px;
height: 11.09px;
left: 12.45px;
top: 5.17px;

/* Black */
background: #000000;