/* UI */

position: relative;
width: 1440px;
height: 729px;

background: #FFFFFF;


/* Типографика */

position: absolute;
width: 216px;
height: 48px;
left: 32px;
top: 48px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
letter-spacing: 0.01em;

color: #000000;



/* Отступы */

position: absolute;
width: 138px;
height: 48px;
left: 401px;
top: 48px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
letter-spacing: 0.01em;

color: #000000;



/* Цвета */

position: absolute;
width: 96px;
height: 48px;
left: 898px;
top: 48px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */
letter-spacing: 0.01em;

color: #000000;



/* Title 1 - Semibold */

position: absolute;
width: 192px;
height: 28px;
left: 32px;
top: 116px;

/* Title1/Semibold

test
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */
letter-spacing: 0.0033em;

color: #000000;



/* Title 2 - Regular */

position: absolute;
width: 145px;
height: 28px;
left: 32px;
top: 196px;

/* Title2/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.0038em;

color: #000000;



/* Title 3 - Regular */

position: absolute;
width: 122px;
height: 24px;
left: 32px;
top: 300px;

/* Title3/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

color: #000000;



/* Headline - Regular */

position: absolute;
width: 133px;
height: 20px;
left: 32px;
top: 404px;

/* Headline/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
letter-spacing: -0.0032em;

color: #000000;



/* Text - Regular */

position: absolute;
width: 95px;
height: 20px;
left: 32px;
top: 468px;

/* Text/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #000000;



/* Caption - Regular */

position: absolute;
width: 110px;
height: 20px;
left: 32px;
top: 532px;

/* Caption/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;



/* Caption 2 - Regular */

position: absolute;
width: 105px;
height: 16px;
left: 32px;
top: 592px;

/* Caption2/Regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;



/* Title 2 - Semibold */

position: absolute;
width: 160px;
height: 28px;
left: 32px;
top: 228px;

/* Title2/Semibold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.0038em;

color: #000000;



/* Title 3 - Medium */

position: absolute;
width: 129px;
height: 24px;
left: 32px;
top: 332px;

/* Title3/Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

color: #000000;



/* Headline - Medium */

position: absolute;
width: 139px;
height: 20px;
left: 32px;
top: 432px;

/* Headline/Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
letter-spacing: -0.0032em;

color: #000000;



/* Text - Medium */

position: absolute;
width: 99px;
height: 20px;
left: 32px;
top: 496px;

/* Text/Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #000000;



/* Caption - Semibold */

position: absolute;
width: 124px;
height: 20px;
left: 32px;
top: 556px;

/* Caption/Semibold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;



/* Caption 2 - Bold */

position: absolute;
width: 90px;
height: 20px;
left: 32px;
top: 616px;

/* Caption2/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

color: #000000;



/* Title 2 - ExtraBold */

position: absolute;
width: 170px;
height: 28px;
left: 32px;
top: 260px;

/* Title2/ExtraBold */
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.0038em;

color: #000000;



/* Title 3 - Semibold */

position: absolute;
width: 139px;
height: 24px;
left: 32px;
top: 364px;

/* Title3/Semibold */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

color: #000000;



/* Title 1 - ExtraBold */

position: absolute;
width: 203px;
height: 28px;
left: 32px;
top: 152px;

/* Title1/ExtraBold

test1
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */
letter-spacing: 0.0033em;

color: #000000;



/* spacing */

box-sizing: border-box;

position: absolute;
width: 416px;
height: 516px;
left: 401px;
top: 116px;

border: 1px dashed #7B61FF;
border-radius: 5px;


/* Property 1=4 px */

position: absolute;
width: 384px;
height: 4px;
left: 16px;
top: 16px;



/* spacing / 4 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=8 px */

position: absolute;
width: 384px;
height: 8px;
left: 16px;
top: 36px;



/* spacing / 8 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=12 px */

position: absolute;
width: 384px;
height: 12px;
left: 16px;
top: 60px;



/* spacing / 12 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=16 px */

position: absolute;
width: 384px;
height: 16px;
left: 16px;
top: 88px;



/* spacing / 16 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=20 px */

position: absolute;
width: 384px;
height: 20px;
left: 16px;
top: 120px;



/* spacing / 20 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=24 px */

position: absolute;
width: 384px;
height: 24px;
left: 16px;
top: 156px;



/* spacing / 24 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=32 px */

position: absolute;
width: 384px;
height: 32px;
left: 16px;
top: 196px;



/* spacing / 32 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=40 px */

position: absolute;
width: 384px;
height: 40px;
left: 16px;
top: 244px;



/* spacing / 40 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=48 px */

position: absolute;
width: 384px;
height: 48px;
left: 16px;
top: 300px;



/* spacing / 48 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=56 px */

position: absolute;
width: 384px;
height: 56px;
left: 16px;
top: 364px;



/* spacing / 56 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Property 1=64 px */

position: absolute;
width: 384px;
height: 64px;
left: 16px;
top: 436px;



/* spacing / 64 px */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px dashed rgba(34, 84, 245, 0.5);


/* Accent */

position: absolute;
width: 44px;
height: 16px;
left: 912px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;



/* Accent inactive */

position: absolute;
width: 48px;
height: 32px;
left: 984px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */
text-align: center;

color: #000000;



/* Black */

position: absolute;
width: 34px;
height: 16px;
left: 1063px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* White */

position: absolute;
width: 36px;
height: 16px;
left: 1134px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Error */

position: absolute;
width: 31px;
height: 16px;
left: 1209px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Success */

position: absolute;
width: 52px;
height: 16px;
left: 1275px;
top: 164px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Инпут бг */

position: absolute;
width: 56px;
height: 16px;
left: 905px;
top: 265px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Кард строк */

position: absolute;
width: 72px;
height: 16px;
left: 897px;
top: 360px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Инпут строк */

position: absolute;
width: 79px;
height: 16px;
left: 984px;
top: 265px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Инпут иконки */

position: absolute;
width: 88px;
height: 16px;
left: 1073px;
top: 265px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Плейсхолдер */

position: absolute;
width: 86px;
height: 16px;
left: 1177px;
top: 265px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Дескрипшн */

position: absolute;
width: 75px;
height: 16px;
left: 1284px;
top: 265px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: center;

color: #000000;



/* Ellipse 33 */

position: absolute;
width: 40px;
height: 40px;
left: 913px;
top: 116px;

/* Accent */
background: #2074F2;


/* Ellipse 34 */

position: absolute;
width: 40px;
height: 40px;
left: 988px;
top: 116px;

/* Accent inactive */
background: #C5D2FF;


/* Ellipse 39 */

position: absolute;
width: 40px;
height: 40px;
left: 1060px;
top: 116px;

/* Black */
background: #2D2C2C;


/* Ellipse 40 */

box-sizing: border-box;

position: absolute;
width: 40px;
height: 40px;
left: 1132px;
top: 116px;

/* White */
background: #F7F7F7;
border: 0.5px solid rgba(0, 0, 0, 0.25);


/* Ellipse 43 */

position: absolute;
width: 40px;
height: 40px;
left: 1204px;
top: 116px;

/* Error */
background: #FF4646;


/* Ellipse 44 */

position: absolute;
width: 40px;
height: 40px;
left: 1281px;
top: 116px;

/* Success */
background: #00B412;


/* Ellipse 50 */

position: absolute;
width: 40px;
height: 40px;
left: 913px;
top: 217px;

/* input_bg */
background: #F7F7FA;


/* Ellipse 51 */

position: absolute;
width: 40px;
height: 40px;
left: 1003px;
top: 217px;

/* input_stroke */
background: #E6E6E6;


/* Ellipse 47 */

position: absolute;
width: 40px;
height: 40px;
left: 1097px;
top: 217px;

/* input_icon */
background: #BFC7D1;


/* Ellipse 48 */

position: absolute;
width: 40px;
height: 40px;
left: 1200px;
top: 217px;

/* placeholder */
background: #98989A;


/* Ellipse 49 */

position: absolute;
width: 40px;
height: 40px;
left: 1301px;
top: 217px;

/* description */
background: #8787A1;


/* Ellipse 37 */

position: absolute;
width: 40px;
height: 40px;
left: 913px;
top: 312px;

/* card_stroke */
background: #F2F2F2;